  <div class="banner">
    <h1>Hire Stock</h1>
    <nav>
      <ul class = "secondary-nav">
        <li><a href="/hire-stock/new">Add Item for Hire</a></li>
      </ul>
    </nav>
  </div>

<div id="hire-stock" class="main-content-container">

  <% @hireStock.each do |hireItem| %>
    <div class="hire-item">
      <p class="capitalize name"><%= hireItem.name %></p>
      <p>Price per day:  £ <%= hireItem.price %></p>
      <a href="/hire-stock/<%= hireItem.id %>">----- More Info -----</a><br>
      <a href="/hire-stock/<%= hireItem.id %>/edit"><button type="button">Edit</button></a>
      <form method="POST" action="/hire-stock/<%= hireItem.id %>/delete">
         <input type="submit" value="Delete Item"/>
      </form>
    </div>  <!-- Hire-item -->


  <% end %>

</div>
