
<div class="banner">
  <h1>Customers</h1>
  <nav>
    <ul class = "secondary-nav">
      <li><a href="/customers/new">Add Customer</a></li>
    </ul>
  </nav>
</div>

<div id="customers" class="main-content-container">

  <% @customer.each do |customer|%>
  <div class="customer">

    <p class="capitalize name"><%= customer.name %></p>
    <p class="capitalize"><%= customer.address %></p>
    <p><%= customer.phone %></p>
    <a href="/customers/<%= customer.id %>"><p>---- More Info ----</p></a>
    <a href="/customers/<%= customer.id %>/edit"><button type="button">Edit</button></a>
    <form method="POST" action="/customers/<%= customer.id %>/delete">
       <input type="submit" value="Delete Customer"/>
     </form>
  </div>
  <% end %>

</div>
