
<div class="banner">
  <nav>
    <ul class = "secondary-nav">
      <li><a href="/customers/new">Add Customer</a></li>
    </ul>
  </nav>
</div>

<div class="customer-table-headings">
  <h3 class="order-heading">Name</h3>
  <h3 class="order-heading">Address</h3>
  <h3 class="order-heading">Phone</h3>
  <h3 class="order-heading">Hired Items</h3>
</div>

<div id="customers" class="">

  <% @customer.each do |customer|%>
  <div class="customer-row">
    <div>
      <p class="capitalize name"><%= customer.name %></p>
      <a href="/customers/<%= customer.id %>/edit"><button class="edit-button" type="button">Edit</button></a>
      <form method="POST" action="/customers/<%= customer.id %>/delete">
         <input class="delete-button" type="submit" value="Delete Customer"/>
       </form>
    </div>
    <p class="capitalize customer-box"><%= customer.address %></p>
    <p class="customer-box"><%= customer.phone %></p>
    <p class="customer-box"><a href="/customers/<%= customer.id %>">Hired Items</a></p>

  </div>
  <% end %>

</div>
